@import url(https://fonts.googleapis.com/css?family=Handlee);

html body {
    font-family: 'Handlee', cursive;
}

#navbar {
    box-shadow: unset;
    background-color: transparent;
}

#nav-title {
    color: #1DB2CB;
    font-size: 45px;
}

#image-banner img {
    margin: 6px 0 0 55px; 
}

.nav-wrapper ul li a {
    color: #1DB2CB !important;
}
